<!-- ======= Header ======= -->
    <header id="header" class="fixed-top d-flex align-items-center">
      <div class="container d-flex align-items-center justify-content-between">

        <h1 class="logo"><a href="/">FRAGANCE</a></h1>
        <!-- Uncomment below if you prefer to use an image logo -->
        <!-- <a href="index.html" class="logo"><img src="public/img/logo.png" alt="" class="img-fluid"></a>-->

        <nav id="navbar" class="navbar">
          <ul>
            <li><a class="nav-link scrollto " href="/">Home</a></li>
            <li><a class="nav-link scrollto" href="about">About us</a></li>
            <li><a class="nav-link scrollto " href="/#catalog">catalog</a></li>
            <li><a class="nav-link scrollto" href="team">team</a></li>
            <li><a class="getstarted scrollto" href="contact">Contact us</a></li>
          </ul>
        </nav><!-- .navbar -->

      </div>
    </header><!-- End Header -->