<main id="main">
    

    <!-- ======= Breadcrumbs ======= -->
    <section class="breadcrumbs">
      <div class="container">

        <div class="d-flex justify-content-between align-items-center">
          <h2>About</h2>
          <ol>
            <li><a href="index.html">Home</a></li>
            <li>About</li>
          </ol>
        </div>

      </div>
    </section><!-- End Breadcrumbs -->

    

    <!-- ======= About Section ======= -->
    <section id="about" class="about">
      <div class="container">

        <div class="row no-gutters">
          <div class="image col-xl-5 d-flex align-items-stretch justify-content-center justify-content-lg-start"></div>
          <div class="col-xl-7 ps-0 ps-lg-5 pe-lg-1 d-flex align-items-stretch">
            <div class="content d-flex flex-column justify-content-center">
              <!-- ======= Titulo de Nuestro Trabajo ======= -->
              <h3>Information About Fragance Flawgrance</h3>
              <p>
                We are a big business that give you the opportunity to select the best options
                 in fragrances of different kinds, give us the opportunity to attend you and we will do it our best.
              </p>
              <div class="row">
                <div class="col-md-6 icon-box">
                    <!-- ======= En la Etiqueta I se pone el icono======= -->
                  <i class="bi bi-calendar-month"></i>
                  <h4>Our Beginning</h4>
                  <p>We have started on 2022 with grand aspirations and humble beginnings.</p>
                </div>
                <div class="col-md-6 icon-box">
                  <i class="bi bi-person-check-fill"></i>
                  <h4>Who We Want To Become</h4>
                  <p>Our biggest dream is to become a company that could export around the world. </p>
                </div>
                <div class="col-md-6 icon-box">
                  <i class="bi bi-people-fill"></i>
                  <h4>Who are We? </h4>
                  
                  <p>We already have one of the most luxury shops will show you the best fragances with an 
                    affordable price.</p>
                </div>
                <div class="col-md-6 icon-box">
                  <i class="bi bi-house-fill"></i>
                  <h4>Our Products</h4>
                  <p>As a business we will try to give you different kinds of one of the most stunningly
                     fragances that are avaliable for women,man and unisex.</p>
                </div>
              </div>
            </div><!-- End .content-->
          </div>
        </div>

      </div>
    </section><!-- End About Section -->

    <!-- ======= Counts Section ======= -->
    <section id="counts" class="counts">
      <div class="container">

        <div class="row no-gutters">

          <div class="col-lg-3 col-md-6 d-md-flex align-items-md-stretch">
            <div class="count-box">
              <i class="bi bi-graph-up"></i>
              <span data-purecounter-start="0" data-purecounter-end="500" data-purecounter-duration="1" class="purecounter"></span>
              <p><strong>Happy Clients</strong> <br> in our country</p>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 d-md-flex align-items-md-stretch">
            <div class="count-box">
              <i class="bi bi-server"></i>
              <span data-purecounter-start="0" data-purecounter-end="687" data-purecounter-duration="1" class="purecounter"></span>
              <p><strong>Fragrance Sold</strong><br> with satisfied customers</p>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 d-md-flex align-items-md-stretch">
            <div class="count-box">
             <i class="bi bi-house-fill"></i>
              <span data-purecounter-start="0" data-purecounter-end="1200" data-purecounter-duration="1" class="purecounter"></span>
              <p><strong>Fragance's brands in our shop</strong>  <br> You can select we have different options</p>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 d-md-flex align-items-md-stretch">
            <div class="count-box">
              <i class="bi bi-people"></i>
              <span data-purecounter-start="0" data-purecounter-end="22" data-purecounter-duration="1" class="purecounter"></span>
              <p><strong>Hard Workers</strong>  <br> our team working for you</p>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Counts Section -->

  </main><!-- End #main -->