    <!-- ======= Breadcrumbs ======= -->
    <section class="breadcrumbs">
      <div class="container">

        <div class="d-flex justify-content-between align-items-center">
          <h2>OUR TEAM</h2>
          <ol>
            <li><a href="index.html">Home</a></li>
            <li>Our Team</li>
          </ol>
        </div>

      </div>
    </section><!-- End Breadcrumbs -->

<!--======= Team Section ======= -->
  <section id="team" class="team">
      <div class="container">

        <div class="section-title">
          <h2>POWERED BY PEOPLE</h2>
          <p>We believe in the power of the individual to make great things. And we exist to help people with creative ideas stand out and succeed.</p>
        </div>

        <div class="row justify-content-center">

          <div class="col-xl-3 col-lg-4 col-md-6" data-wow-delay="0.2s">
            <div class="member">
              <img src="https://cdn.discordapp.com/attachments/774459256790581248/1104943850474180639/image.png" class="img-fluid" alt="">
              <div class="member-info">
                <div class="member-info-content">
                  <h4>John Doe</h4>
                  <span>Systems Engineering Student</span>
                  <div class="social">
                    <a href="#"><i class="bi bi-globe"></i></a>
                    <a href="#"><i class="bi bi-instagram"></i></a>
                  </div>
                </div>
              </div>
            </div>
          </div>



        </div>

      </div>
    </section>
    <!-- End team section-->
    
    <!-- Galería de Proyectos-->



    <!-- Fin galeria de Proyectos-->

